<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <!-- import Vue.js -->
    <script src="//vuejs.org/js/vue.min.js"></script>
    <!-- import stylesheet -->
    <link rel="stylesheet" href="//unpkg.com/view-design/dist/styles/iview.css">
    <!-- import iView -->
    <script src="//unpkg.com/view-design/dist/iview.min.js"></script>
</head>
<body>
    <style>
        html, body {
            height: 100%;
            margin: 0;
        }

        iframe {
            height: 100%;
            width: 100%;
            border: 0;
            outline: 0;
        }

        header {
            -webkit-app-region: drag;
            padding: 10px;
            background: #f2f2f2;
        }
    </style>
    <header>
        <Row>
            <Col flex="auto"></Col>
            <Col>
                x
            </Col>
        </Row>
    </header>
    <iframe src="http://localhost:8080"></iframe>
</body>
</html>