.idea/
.vs/
.vscode/

node_modules
config.js
config.json

# private/
backend/test/gen/
package-lock.json
backend/package-lock.json
backend/services/msGraphAPI/tokenCache.json

# target
target/
.DS_Store
backend/.DS_Store
backend/services/.DS_Store
