import fs from "fs";
import path from "path";

const config = {
    // security
    secret: 'not secret',
    captchaExpiresIn: 1000*60*20,
    errorHelperVerbose: process.env.NODE_ENV==='production'? false : true,
    // runtime
    port: process.env.port || 4002,
    address: true? '127.0.0.1' : '0.0.0.0',
    baseDir: path.resolve('./'),
    // database
    mysql: {
        host: '127.0.0.1',
        port: 3306,
        user: 'notroot',
        password: 'weakpasswd',
        database: 'bfban_2.0'
    },
    // github
    github: {

    },
    mail: {
        host: 'smtp.xxx.com',
        port: 465,
        secure: true,
        user: 'accounts@xxx.com',
        password: 'IWontShowYouThePasswordOFC'
    },

    // DYNAMIC CONFIGURE BEGIN
    originAccounts: [
        {tag: '', remid:'', sid:''},
    ],
    supportGames: [ 'bf1', 'bfv' ],
    possibleCheateMethods: ['wallhack', 'aimbot', 'invisable', 'magicBullet', 
    'damageChange', 'gadgetModify', 'moveImpossibly', 'attackServer'],
    // DYNAMIC CONFIGURE END
}

const dynamic_cfg = {
    // origin config 
    originAccounts: [
        {tag: '', remid:'', sid:''},
    ],
    // site function config
    supportGames: [ 'bf1', 'bfv' ],
    possibleCheateMethods: ['wallhack', 'aimbot', 'invisable', 'magicBullet', 
    'damageChange', 'gadgetModify', 'moveImpossibly', 'attackServer'],
}

function readDynamicConfig() {
    import("./config.js").then(m=> { for(let i in m.dynamic_cfg) config[i] = dynamic_cfg[i] });
}

export default config;
export { readDynamicConfig, dynamic_cfg };