body, html {
  font-family: "Ubuntu Mono", monospace, 'Noto Sans TC', sans-serif, "Microsoft YaHei", "微软雅黑", "Arial", sans-serif;
  overscroll-behavior-y: contain;
}

body .user-select-none {
  user-select: none;
}

p {
  margin: .2rem 0;
}

.container {
  width: 100%;
  margin: 0 auto;
  position: relative;
}

/*mobile responsive*/
@media screen and (min-width: 1024px) {
  .container {
    max-width: 1200px;
  }

  .desktop-hide {
    display: none !important;
  }
}

@media screen and (min-width: 2048px) {
  .container {
    width: 80% !important;
    max-width: 1400px !important;
  }
}

@media screen and (max-width: 1024px) {
  .mobile-hide {
    display: none !important;
  }
}

.styles_herosection {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;

  .styles_bg {
    background: linear-gradient(302.61deg, rgba(255,243,59,0.22) -0.71%, #f1e0ff 89.57%);
    filter: blur(70px);
    transform: rotate(105deg);
    height: 500px;
    width: 500px;
    z-index: -2;
    position: absolute;
    top: 200px;

    animation: styles_herosection_animation 25s infinite;
  }

  .styles_bg_img {
    height: 500px;
    position: relative;
    top: 100px;
  }
}

@keyframes styles_herosection_animation {
  0% {
    transform: rotate(-210deg);
  }
  100% {
    transform: rotate(105deg);
  }
}
