header,
.header {
  user-select: none;
}

header:after {
  content: " ";
  background-image: url(https://trackercdn.com/cdn/tracker.gg/holiday/trn-christmas-lights.png);
  background-repeat: repeat-x;
  height: 34px;
  width: 100%;
  position: absolute;
  pointer-events: none;
  top: 100%;
  left: 0;
}
