*::selection {
  background: fade(@primary-color, 60%);
}

body, html {
  background-color: #f8f9fa !important;
}

header {
  background-color: rgba(248, 249, 250, 0.92);
  backdrop-filter: blur(5px);
  position: fixed;
  top: 0;
}

#app main > .container {
  padding-top: 68px;
}

// styles_herosection
.styles_herosection {
  .styles_bg {
    background: linear-gradient(302.61deg, rgba(255,243,59,0.22) -0.71%, #f1e0ff 89.57%);
    filter: blur(70px);
  }
}
