<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="icon" href="/favicon.ico">

    <meta name="csrf-token" content="<%= csrfToken %>">

    <title><%= title %></title>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-127177047-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-127177047-2');
    </script>

  <link rel="stylesheet" href="//unpkg.com/iview/dist/styles/iview.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/quill@1.3.6/dist/quill.core.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/quill@1.3.6/dist/quill.snow.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/quill@1.3.6/dist/quill.bubble.css">
</head>
<body>
  <!--fastclick-->
  <script src="https://cdn.jsdelivr.net/npm/fastclick@1.0.6/lib/fastclick.min.js"></script>
  <!--lodash-->
  <script src="https://unpkg.com/lodash@4.17.11/lodash.js"></script>
  <!--axios-->
  <script src="https://unpkg.com/axios@0.18.0/dist/axios.min.js"></script>
  <!--js-cookie-->
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@2.2.0/src/js.cookie.min.js"></script>

  <!--vue-->
  <script src="//vuejs.org/js/vue.min.js"></script>
  <!--iview-->
  <script src="//unpkg.com/iview/dist/iview.min.js"></script>

  <!--vuex-->
  <script src="https://unpkg.com/vuex@3.0.1/dist/vuex.js"></script>

  <!--vue router-->
  <script src="https://unpkg.com/vue-router@3.0.1/dist/vue-router.min.js"></script>

  <!--quill editor-->
  <script src="https://cdn.jsdelivr.net/npm/quill@1.3.6/dist/quill.min.js"></script>

  <!--vue-quill-editor-->
  <script src="https://cdn.jsdelivr.net/npm/vue-quill-editor@3.0.6/dist/vue-quill-editor.min.js"></script>

  <!--clipboard-->
  <script src="https://cdn.jsdelivr.net/npm/clipboard@2.0.1/dist/clipboard.min.js"></script>

  <!--qs-->
  <script src="https://cdn.jsdelivr.net/npm/qs@6.5.2/dist/qs.js"></script>

  <script src="/bundle.js"></script>
</body>
</html>
