.video-box,
.link-box,
.img-box {
  background-color: fade(@primary-color, 10%);
  color: fade(@primary-color, 60%);
  border-top: 1px solid fade(@primary-color, 20%);
  border-bottom: 1px solid fade(@primary-color, 20%);
}