*::selection {
  background: fade(@primary-color, 60%);
}

body, html {
  background-color: #fffafa !important;
}

// header
header {
  background-image: linear-gradient(#eee0e0, transparent) !important;
}

// styles_herosection
.styles_herosection {
  .styles_bg {
    background: linear-gradient(302.61deg, rgb(208 252 248) -0.71%, #fff9ad6e 89.57%);
    filter: blur(60px);
  }
}
